html, body{
    font-family:"Helvetica";
    color:#fff;
    background-color:#000;
}

#title{
    padding:20px;
    font-size:18px;
}
#key{position:absolute;right:20px;top:20px;padding:20px;width:400px;height:400px;}
#map{
    position:absolute;
    top:80px;
    font-size:24px;
    width:1200px;
}
.row{
    position:absolute;
    top:10px;
    left:30px;
}
.d3-tip{
 color:#fff;
 font-size:24px;
}
.btn{
    background-color:#000 !important;
    color:#fff !important;
    border:none !important;
    font-size:40px;
}
.label{
    font-size:25px;
    color:#fff;
    fill:#fff;
}