html, body{
    font-family:"Helvetica";
    color:#fff;
    background-color:#fff;
}

#title{
    padding:20px;
    font-size:18px;
}
#map{
    position:relative;
    float:top;
    font-size:12px;
    width:1200px;
}
.d3-tip{
 color:#000;
}